html {
  height: 100%;
}

body {
	margin: 0;
	padding: 0;
	position: center;
	width: 100%;
	min-height: 100%;
	background-color: #E7DACA;
}

body #page {
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

input[type="button"] {
	float: center;
	position: center;
	text-align: center;
	background-color: #230672;
	font-size: 44px;
	color: #D1FFE8;
 	height: 200px;
	width: 100%;
	border: 8px solid #230672;
	border-radius: 30px;
}

input[type="button"]:hover {
	float: center;
	position: center;
	text-align: center;
	background-color: #D1FFE8;
	font-size: 44px;
	color: #8A6ED7;
 	height: 200px;
	width: 100%;
	border: 8px solid #D1FFE8;
	border-radius: 30px;
}

div {
	margin: 0 auto;
	display: table
}

/*HEADER*/

#header {
	background-color: #3C13AF;
	margin: 0;
	padding: 0;
	float: center;
	position: relative;
	width: 100%;
}

#header div {
	margin: 0 auto;
    max-width: 100%;
    min-height: 100%;
    padding: 0 10px;
    float: center;
    position: center;
}

#header div ul {
	display: block;
    float: center;
    position: center;
    list-style: none outside none;
    margin: 0 auto;
    max-width: 900px;
    padding: 102px 0 20px;
    text-align: center;
}

#header div ul li {
	display: inline-block;
	*float: left;
	margin: 0 80px 80px 37px;
	padding: 0;
	width: auto;
	float: center;
	position: center;
}

#header div ul li a {
	color: #A6FFFF;
	font-family: "Arial Black";
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	margin: 10px 0 0 20px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: auto;
	float: center;
	position: center;
}

#header div ul li.selected a, #header div ul li.selected a:hover {
	color: #00FF00;
}

#header div ul li a:hover {
	color: #FFF100;
}

/*HEADER END*/

/*BODY*/

#body {
	margin: 0;
	overflow: hidden;
	width: 100%;
	padding: 0;
	position: center;
	background-color: #8A6ED7; 
}

#body div.internal {
	margin: 30px 0 60px 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding: 0;
}

#body div.internal div.btn {
	overflow: hidden;
	width: 40%;
	float: center;
}

/* FORM_vk description begins*/

#body div.internal div.form {
	margin: 10px 10px 10px 10px;
	overflow: hidden;
	width: 30%;
	font-family: "Arial Black";
	text-align: center;
	position: relative;
	float: left;
}

#body div.internal div.form *{
	width: 100%;
}

#body div.internal div.form form.vk {
	width: 100%;
}

#body div.internal div.form h1{
	margin-bottom: 10px;
	margin-top: 0;
	overflow: hidden;
	height: 30px;
	width: 350px;
	color: #A6FFFF;
	font-size: 24px;
	width: 100%;
	position: relative;
}

#body div.internal div.form form.vk div.form_line {
	margin-top: 0;
	overflow: hidden;
	position: relative;
}

#body div.internal div.form form.vk div.form_line div.field_label {
	margin: 0;
	overflow: hidden;
	font-size: 18px;
	color: #A6FFFF;
	position: relative;
}

#body div.internal div.form form.vk div.form_line div.field_container {
	margin-top: 5px;
	overflow: hidden;
	position: relative;
}

#body div.internal div.form form.vk div.form_line div.field_container input {
	width: 100%;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
}

#body div.internal div.form form.vk div.form_line1 {
	margin: 0;
	overflow: hidden;
	height: 30px;
	position: relative;
}

#body div.internal div.form form.vk div.form_line1 input {
	margin-top: 10px;
	overflow: hidden;
	width: 144px;
	height: 30px;
	position: relative;
	border-radius: 10px;
	font-size: 16px;
	color: #FFFFFF;
	background-color: #3C13AF;
}

#body div.internal div.form form.vk div.form_line1 input:hover {
	margin-top: 10px;
	overflow: hidden;
	width: 144px;
	height: 30px;
	position: relative;
	color: #3C13AF;
	background-color: #00FF00;
	border-radius: 10px;
	font-size: 16px;
}

/* FORM_vk  description ends*/

#body div.internal div.form form.login div.form_line {
	margin-top: 0;
	overflow: hidden;
	position: relative;
}

#body div.internal div.form form.login div.form_line div.field_label {
	margin: 0;
	overflow: hidden;
	font-size: 18px;
	color: #A6FFFF;
	position: relative;
}

#body div.internal div.form form.login div.form_line div.field_container {
	margin-top: 5px;
	overflow: hidden;
	position: relative;
}

#body div.internal div.form form.login div.form_line div.field_container input {
	width: 100%;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
}

#body div.internal div.form form.login div.form_line1 {
	margin: 0;
	overflow: hidden;
	height: 30px;
	position: relative;
}

#body div.internal div.form form.login div.form_line1 input {
	margin-top: 10px;
	overflow: hidden;
	width: 144px;
	height: 30px;
	position: relative;
	border-radius: 10px;
	font-size: 16px;
	color: #FFFFFF;
	background-color: #3C13AF;
}

#body div.internal div.form form.login div.form_line1 input:hover {
	margin-top: 10px;
	overflow: hidden;
	width: 144px;
	height: 30px;
	position: relative;
	color: #3C13AF;
	background-color: #00FF00;
	border-radius: 10px;
	font-size: 16px;
}

/*FORM_login begins*/

/*FORM_login ends*/

/* TABLE description starts*/

.table-container {
    height: 10em;
    margin: 10px 40px 0 0;
    position: relative;
    text-align: center;
}
table {
    display: flex;
    flex-flow: column;
    max-height: 500px;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    width: 100%;
}
table thead {
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
    font-family: "Arial Black";
	font-size: 18px;
	color: #A6FFFF;
	background-color: #3C13AF;
	border: 1px solid black;
}
table tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
table tbody tr.good, table tbody tr.bad {
    width: 100%;
    font-size: 20px;
}
table thead, table tbody tr.bad, table tbody tr.good {
    display: table;
    table-layout: fixed;
    border: 1px solid black;
}

table tbody tr.bad {
	background-color: #FF0000;
	color: #FFFFFF;
}

table tbody tr.good {
	background-color: #00FF00;
    color: #CC00CC;
}

/* TABLE description ends*/

/*SENTIMENT with text fields begins*/

#body div.internal form dl {
	width: 100%;
	position: center;
}

#body div.internal form dl dt {
	position: center;
	text-align: center;
	width: 100%;
	font-family: "Arial Black";
	font-size: 20px;
	color: #A6FFFF;
}

#body div.internal form dl dd {
	width: 100%;
	margin: 10px 20px 0 0;
	position: center;
	text-align: center;
}

#body div.internal form dl dd textarea {
	position: center;
	text-align: center;
	font-size: 20px;
	background-color: #CCFFFF;
	color: #8A6ED7;
}

#body div.internal form dl dd input {
	position: center;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	background-color: #3C13AF;
	border-radius: 10px;
	height: 30px;
	width: 130px;
}

#body div.internal form dl dd input:hover {
	position: center;
	text-align: center;
	font-size: 16px;
	color: #3C13AF;
	background-color: #00FF00;
	border-radius: 10px;
}

#body div.internal p {
	width: 100%;
	position: center;
	text-align: center;
	font-size: 20px;
	color: #A6FFFF;
}

/*SENTIMENT with text fields ends*/

/*BODY END*/

/*FOOTER*/
#footer {
	background-color: #3C13AF;
	margin: 0;
	min-height: 122px;
	padding: 0;
	width: 100%;
}
#footer div {
	margin: 0 auto;
	max-width: 940px;
	overflow: hidden;
	padding: 47px 10px 42px;
}
#footer div p {
	color: #D1FFE8;
	float: left;
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 5px 0 0;
	text-align: center;
	text-transform: none;
	width: 400px;
}

/*
#footer div.connect {
	display: block;
	float: right;
	height: 50px;
	margin: 12px 0;
	overflow: hidden;
	padding: 0;
	width: 50px;
}
#footer div.connect a {
	background: url(../images/vk.png) no-repeat;
	display: block;
	float: left;
	height: 35px;
	margin: 0 7px;
	padding: 0;
	text-indent: -99999px;
	width: 40px;
}
#footer div .connect a.vk {
	background-position: 0 0;
}

#footer div .connect a.vk:hover {
	background-position: -30px 0;
}*/

/*FOOTER*/