<!doctype html>
<html>
    <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>About us</title>
		<link rel = "stylesheet" type = "text/css" href="{{ url_for('static', filename='css/style.css')}}"">
	</head>
    <body>
    	<div id="page" class="btn">
    		<div id="header">
	    		<div id="navigation">
	    			<ul id="menu">
	    				<li>
	    					<a href="/">
								Select
							</a>
						</li>
						<li class="selected">
							<a href="about.html">
								About Us
							</a>
	    				</li>
	    				<li>
							<a href="algo.html">
								Algorithms
							</a>
	    				</li>
	    				<li>
							<a href="login.html">
								Log Out
							</a>
	    				</li>
	    			</ul>
	    		</div>
	    	</div>
	    	<div id="body">
	    		<div class="internal">
					<div class="participants">
					    <table class="We">
					    	<tr><td class="name">Артем Потапов, ФРТК, 311 гр.</td><td class="link"><div class="connect">
								<a href="https://vk.com/potapart" class="vk"></a>
								</div></td>
							</tr>
					    	<tr><td class="name">Кирилл Щербатов, ФУПМ, 376гр.</td><td class="link"><div class="connect">
								<a href="https://vk.com/kshcherbatov" class="vk"></a>
								</div></td>
							</tr>
					    	<tr><td class="name">Семен Абрамов, ФРТК, 311 гр.</td><td class="link"><div class="connect">
								<a href="https://vk.com/abramov07" class="vk"></a>
								</div></td>
							</tr>
					    	<tr><td class="name">Александр Сноркин, ФРТК, 311 гр.</td><td class="link"><div class="connect">
								<a href="https://vk.com/id176242617" class="vk"></a>
								</div></td>
							</tr>
					    </table>
					</div>
			    </div>	
	    	</div>
	    	<div id="footer">
	    		<div>
					<p>Artem Potapov | Alexander Snorkin<br/>Semen Abramov | Shcherbatov Kirill<br/>&copy; 2017. All rights reserved.</p>
				</div>
	    	</div>
		</div>
    </body>
</html>