<!doctype html>
<html>
    <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Goods binary sentiment analyzer</title>
		<link rel = "stylesheet" type = "text/css" href="{{ url_for('static', filename='css/style.css')}}"">
	</head>
    <body>
    	<div id="page" class="btn">
    		<div id="header">
	    		<div id="navigation">
	    			<ul id="menu">
	    				<li class="selected">
	    					<a href="/">
								Select
							</a>
						</li>
						<li>
							<a href="about.html">
								About Us
							</a>
	    				</li>
	    				<li>
							<a href="algo.html">
								Algorithms
							</a>
	    				</li>
	    			</ul>
	    		</div>
	    	</div>
	    	<div id="body">
	    		<div class="internal">
			    	<form action="{{ url_for('goods_binary_sentiment') }}" method=post>
	    	    		<dl>
		            		<dt>Enter a goods response<br>
			    			<dd><textarea name=text rows=5 cols=40>{{ text }}</textarea>
			    			<dd><input type="submit" value="Evaluate">
	    	     		</dl>
					</form>
					<p>
						<br>Sentiment prediction:<br>
							{{ prediction_message }}
					</p>
			    </div>	
	    	</div>
	    	<div id="footer">
	    		<div>
					<p>Artem Potapov | Alexander Snorkin<br/>Semen Abramov | Sherbatov Kirill<br/>&copy; 2017. All rights reserved.</p>
				</div>
	    	</div>
		</div>
    </body>
</html>
